body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html
  {
      height: 100%;
      background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
      background-position: center top;
      background-repeat: repeat;
      background-size: cover;
      background-attachment: scroll;
  }
  
  /* Navigation bar styling */
  .topnav
  {
      overflow: hidden;
      
      display: grid;
      grid-gap: 8%;
      margin: auto;
      grid-template-columns: repeat(4, [col-start] 20% [col-end]);
      width: 100%;
      margin-left: 5%;
  }
  
  #NavBarHolder
  {
      height: 15%;
      min-height: 50px;
      width: 90%;
      background-color: rgb(104, 104, 104);
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 2%;
      border-radius: 20px;
  }
  
  .collapsible {
      background-color: rgb(201, 200, 200);
      color: #000000;
      cursor: pointer;
     padding: 18px;
    width: 100%;
    border: 1;
     text-align: center;
     outline: none;
     font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px;
  }
  
  .active, .collapsible:hover {
     background-color: #E3E3E3;
  }
  
  .content {
    padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out;
      background-color: rgb(131, 131, 131);
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    color: #000000;
    border-radius: 25px;
    width: 97%;
  } 
  
  .subButton
  {
      background-color: white;
      font-size: 16px;
      border-radius: 25px;
      width: 10%;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Ubuntu', sans-serif;
  }
  
  #searchPenText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      margin-right: 0%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }
  #searchActText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }
  #searchDenText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }
  /* #searchFinText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  } */
  #searchAllText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }
  
  .buttons
  {
      background-color: white;
      font-size: 16px;
      border-radius: 25px;
      width: 10%;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Ubuntu', sans-serif;
  }
  
  .buttons:hover
  {
      background-color: #00aaaa;
      color: #FFFFFF;
      min-width: 100px;
  }
  
  .navButtons
  {
      background-color: transparent;
      border-right-color: rgb(13, 13, 46);
      border-left-color: rgb(13, 13, 46);
      color: white;
      font-size: 22px;
      width: 20%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Ubuntu', sans-serif;
      min-width: 150px;
      min-height: 50px;
  }
  
  .navButtons:hover
  {
      background-color: #002b2b;
      color: #FFFFFF;
      /*min-width: 100px;*/
  }
  
  #searchPenButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  #searchActButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  /* #searchFinButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  } */
  
  #searchDenButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  #searchAllButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  #PenTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  #ActTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  /* #FinTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  } */
  
  #DenTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  #AllTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  #PenTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  }
  
  #ActTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  }
  
  /* #FinTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  } */
  
  #DenTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  }
  
  #AllTripListDiv{
      width: 80%;
      margin-left: 10%;
      overflow: auto;
  }
  
  #PendingPanel
  {
      display: block;
  }
  
  #ActivePanel
  {
      display: none;
  }
  
  /* #FinishedPanel
  {
      display: none;
  } */
  
  #DeniedPanel
  {
      display: none;
  }
  
  #AllPanel
  {
      display: none;
  }
  
  #RespondPanel
  {
      display: none;
  }
  
  #ProfilePanel
  {
      display: none;
      align-content: center;
      text-align: center;
  }
  
  #resAppLabel
  {
      margin-right: 35%;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16pt;
      color: white;
  }
  
  #RespondPanel
  {
      align-content: center;
      text-align: center;
  }
  
  #resDenLabel
  {
      margin-right: 35%;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16pt;
      color: white;
  }
  
  #res-inner-title
  {
      font-size: 22pt;
      font-family: 'Ubuntu', sans-serif;
      color: white;
      padding-bottom: 8px;
  }
  
  .radio
  {
      margin-right: 20%;
      padding-bottom: 5px;
  }
  
  #resSubmit
  {
      padding-bottom: 3px;
  }
  
  #inner-title
  {
      font-size: 22pt;
      font-family: 'Ubuntu', sans-serif;
      color: white;
      padding-bottom: 8px;
  }
  
  #resReason
  {
      width: 60%;
      margin-right: 0%;
      height: 35px;
      font-size: 16px;
      border-radius: 25px;
  }
  
  #title
  {
      font-size: 60px;
      width: 100%;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      color: #FFFFFF;
      margin-top: 5%;
      padding: 0;
  }
  
  #subTitle
  {
      color: white;
      font-size: 30px;
      text-align: center;
  }
  
  #Creators
  {
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      color: white;
  }
  
  #Class
  {
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      color: white;
  }
  
  /* #outer
  {
  
  } */
  
  #LAMP
  {
      width: 90%;
      text-align: center;
      margin-left: 5%;
      position: absolute;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);
  }
  
  img
  {
      width: 100%;
      max-width: 800px;
      display: inline-block;
      align-items: center;
  }
  
  #footerDiv
  {
      position: fixed;
      bottom: 5%;
      /*margin-bottom: 2%;*/
      width: 100%;
  }
  
  #searchContactsDiv
  {
      height: 90%;
  }
  
  #loginDiv
  {
      background: Transparent;
      align-items: center;
      font-size: 30px;
      text-align: center;
      color: #F5F5F5;
      font-family: 'Ubuntu', sans-serif;
      width: 70%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      padding: 25px;
      border-radius: 7px;
      display: block;
  }
  
  
  #signupDiv
  {
      background: Transparent;
      align-items: center;
      font-size: 30px;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      width: 70%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      padding: 25px;
      border-radius: 7px;
      display: none;
  }

  #ForgotDiv
  {
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 7px;
    display: none;
      display: none;
  }
  
  #loggedInDiv
  {
      font-size: 30px;
      width: 90%;
      margin-top: 2%;
      margin-left: 5%;
      padding: 10px;
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 0.64);
  }
  
  body
  {
      border: 0;
      margin: 0;
  }
  
  #wrapper
  {
      height: 70%;
  }
  
  #inner-title
  {
      color: white;
  }
  
  #switchToSignup
  {
      margin-top: .5%;
    font-size: 20px;
  }
  
  #loginButton
  {
      font-size: 20px;
  }

  #forgotRecover
  {
    margin-top: .5%;
    font-size: 20px;
  }

  #forgotToLogin
  {
    font-size: 20px;
    margin-top: .5%;
  }

  ::placeholder
  {
      color: black;
  }

  #forgotUsername
  {
      font-size: 30px;
  }

  #forgotPW
  {
      font-size: 30px;
  }

  #forgotPWConfirm
  {
      font-size: 30px;
  }
  
  #switchToLogin
  {
      font-size: 20px;
      margin-top: 1%;
      align-items: center;
  }

  #switchToForgot
  {
    font-size: 20px;
    margin-top: .5%;
  }
  
  #loginName
  {
      font-size: 30px;
      color: black;
  }
  #loginPassword
  {
      font-size: 30px;
      color: black;
  }
  
  #loginNameUpdate
  {
      font-size: 30px;
      color: black;
  }
  
  #loginPasswordUpdate
  {
      font-size: 30px;
      color: black;
  }

  #updateProfileButton
  {
      margin-bottom: 10px;
  }
  
  #signupUsername
  {
      font-size: 30px;
  }
  #signupFirstName
  {
      font-size: 30px;
  }
  #signupLastName
  {
      font-size: 30px;
  }
  #signupEmail
  {
      font-size: 30px;
  }
  #signupPassword
  {
      font-size: 30px;
  }
  #signupPasswordConfirm
  {
      font-size: 30px;
  }
  
  #signupButton
  {
      margin-top: 2%;
      align-self: center;
      font-size: 20px;
  }
  
  input[type="text"],input[type="password"]{
      border-radius: 15px;
      text-align: center;
      width: 80%;
      margin-left: 0%;
      margin-bottom: 2%;
      background-color: rgba(255,255,255,0.64);
      font-family: 'Ubuntu', sans-serif;
  }
  
  span.inner-title{
      display: inline-block;
      font-size: 1em;
      width: 90%;
      text-align: right;
      margin-left: 5%;
      margin-bottom: 2%;
      font-family: 'Ubuntu', sans-serif;
      color: #FFFFFF;
  }
  
  #loginResult{
      display: inline-block;
      font-size: 0.8em;
      width: 90%;
      text-align: center;
      margin-bottom: 2%;
      font-family: 'Ubuntu', sans-serif;
      color: #95060a;
  }

  #ForgotResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
  }
  
  #signupResult{
      display: inline-block;
      font-size: 0.8em;
      width: 90%;
      text-align: center;
      margin-bottom: 2%;
      font-family: 'Ubuntu', sans-serif;
      color: #95060a;
  }
  
  #userName{
      display: inline-block;
      width: 50%;
      margin-left: 5%;
      /*text-align: center;*/
      font-family: 'Ubuntu', sans-serif;
      color: #000000;
      padding: 0px;
      /*float: inline-start;*/
  }
  
  #logoutButton{
      display: inline-block;
      padding: 0px;
      width: 5%;
      min-width: 160px;
      /*margin-left: 80%;*/
      /*margin-right: 5%;*/
      margin-left: 25%;
      /*float: inline-end;*/
  }

  #profileButton{
      display: inline-block;
      width: 5%;
      min-width: 160px;
      margin-left: 20%;
  }
  
  #DEBUG
  {
      color: white;
  }