body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html
  {
      height: 100%;
      background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
      background-position: center top;
      background-repeat: repeat;
      background-size: cover;
      background-attachment: scroll;
  }
  
  /* Navigation bar styling */
  /* trips */
  .topnav
  {
      overflow: visible;
      display: grid;
      grid-template: auto / auto auto;
      grid-gap: 2% 0.5%;
      padding: 0.5% 0.5%;
      width: 100%;
      margin: auto;
      align-content: center;
      align-items: center;
  }
   /* trips - .topNav (which is the class that defines id:NavBar) is contained within this div */
  #NavBarHolder
  {
      align-content: center;
      height: 80%;
      width: 80%;
      background-color: rgb(104, 104, 104);
      margin-bottom: 2%;
      border-radius: 20px;
      margin: auto;
  }
  
  /* trips - the part of the trip that you click to expand*/
  .collapsible {
      background-color: rgb(201, 200, 200);
      color: #000000;
      cursor: pointer;
     padding: 18px;
    width: 100%;
    border: 1;
     text-align: center;
     outline: none;
     font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px;
  }
  
  /* trips */
  .active, .collapsible:hover {
     background-color: #E3E3E3;
  }
  
  /* trips - the part of the trip that appears / disappears on click of .collapsible*/
  .content {
    padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out;
      background-color: rgb(131, 131, 131);
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    color: #000000;
    border-radius: 25px;
    width: 97%;
  } 
  
  .subButton
  {
      background-color: white;
      font-size: 16px;
      border-radius: 25px;
      width: 10%;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Ubuntu', sans-serif;
  }
  
  /* Pending - textfield for search */
  #searchPenText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      margin-right: 0%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }

  /* Active - textfield for search */
  #searchActText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }

  /* Denied - textfield for search */
  #searchDenText
  {
      float: left;
      width: 60%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }

  /* All - textfield for search */
  #searchAllText
  {
      float: left;
      width: 30%;
      margin-left: 10%;
      height: 50px;
      font-size: 30px;
      border-radius: 25px;
  }
  
  /* Trips - class used by most all buttons, if a button's id also has a CSS style then that overrides any conflicts with this */
  .buttons
  {
      background-color: white;
      font-size: 16px;
      border-radius: 25px;
      width: 10%;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Ubuntu', sans-serif;
      min-width: 100px;
  }
  
  /* Trips */
  .buttons:hover
  {
      background-color: #00aaaa;
      color: #FFFFFF;
      min-width: 100px;
  }
  
  /* Trips - the actual buttons inside of the NavBar (inside of the NavBarHolder)*/
  .navButtons
  {
      background-color: transparent;
      border-right-color: rgb(13, 13, 46);
      border-left-color: rgb(13, 13, 46);
      color: white;
      font-size: 20px;
      width: 20%;
      margin: auto;
      font-family: 'Ubuntu', sans-serif;
      min-width: 150px;
      min-height: 70px;
  }
  
  /* Trips */
  .navButtons:hover
  {
      background-color: #002b2b;
      color: #FFFFFF;
      /*min-width: 100px;*/
  }
  
  /* Pending - Button to initiate search */
  #searchPenButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  /* Active - Button to initiate search */
  #searchActButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  /* Denied - Button to initiate search */
  #searchDenButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 24px;
  }
  
  /* All - Button to initiate search */
  #searchAllButton{
      float: right;
      min-width: 20px;
      width: 10%;
      height: 50px;
      margin-left: 2%;
      margin-right: 15%;
      text-align: center;
      font-size: 20px;
  }
  
  /* Pending - holds the trips */
  #PenTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  /* Pending - holds the trips */
  #ActTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  /* Pending - holds the trips */
  #DenTripList{
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  /* Pending - holds the trips */
  #AllTripList{
      width: 50%;
      max-height: 60vh;
      overflow: auto;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  
  /* Pending - holds the trips list */
  #PenTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  }
  
  /* Active - holds the trips list */
  #ActTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  }
  
  /* Denied - holds the trips list */
  #DenTripListDiv{
      width: 80%;
      height: 100%;
      margin-left: 10%;
      overflow: auto;
  }
  
  /* All - holds the trips list */
  #AllTripListDiv{
      width: 50%;
      margin-left: 10%;
      overflow: auto;
  }
  
  /* Pending - holds search bar and TripListDiv */
  #PendingPanel
  {
      display: block;
  }
  
  /* Active - holds search bar and TripListDiv */
  #ActivePanel
  {
      display: none;
  }
  
  /* Denied - holds search bar and TripListDiv */
  #DeniedPanel
  {
      display: none;
  }
  
  /* All - holds search bar and TripListDiv */
  #AllPanel
  {
      display: none;
  }
  
  /* Not used */
  #RespondPanel
  {
      display: none;
  }
  
  /* Not used */
  #ProfilePanel
  {
      display: none;
      align-content: center;
      text-align: center;
  }
  
  /* Not used */
  #resAppLabel
  {
      margin-right: 35%;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16pt;
      color: white;
  }
  
  /* Not used */
  #RespondPanel
  {
      align-content: center;
      text-align: center;
  }
  
  /* Not used */
  #resDenLabel
  {
      margin-right: 35%;
      font-family: 'Ubuntu', sans-serif;
      font-size: 16pt;
      color: white;
  }
  
  /* Make Trip */
  #res-inner-title
  {
      font-size: 22pt;
      font-family: 'Ubuntu', sans-serif;
      color: white;
      padding-bottom: 8px;
  }
  
  /* Not used */
  .radio
  {
      margin-right: 20%;
      padding-bottom: 5px;
  }
  
  /* Make Trip - submit button */
  #resSubmit
  {
      padding-bottom: 3px;
  }
  
  #inner-title
  {
      font-size: 22pt;
      font-family: 'Ubuntu', sans-serif;
      color: white;
      padding-bottom: 8px;
  }
  
  /* Not used */
  #resReason
  {
      width: 60%;
      margin-right: 0%;
      height: 35px;
      font-size: 16px;
      border-radius: 25px;
  }
  
  /* Trips */
  #title
  {
      font-size: 60px;
      width: 100%;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      color: #FFFFFF;
      margin-top: 5%;
      padding: 0;
  }
  
  /* Trips */
  #subTitle
  {
      color: white;
      font-size: 30px;
      text-align: center;
  }
  
  #Class
  {
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      color: white;
  }
  
  #LAMP
  {
      width: 90%;
      text-align: center;
      margin-left: 5%;
      position: absolute;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);
  }
  
  img
  {
      width: 100%;
      max-width: 800px;
      display: inline-block;
      align-items: center;
  }
  
  #footerDiv
  {
      position: fixed;
      bottom: 5%;
      /*margin-bottom: 2%;*/
      width: 100%;
  }
  
  #searchContactsDiv
  {
      height: 90%;
  }

  /* Make Trip */
  #makeTripPanel
  {
      display: none;
      align-content: center;
      text-align: center;
  }

  /* Initial Page */
  #buttonsDiv
  {
      align-items: center;
      text-align: center;
      display: block;
      font-family: 'Ubuntu', sans-serif;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
  
  /* Login */
  #loginDiv
  {
      background: Transparent;
      align-items: center;
      font-size: 30px;
      text-align: center;
      color: #F5F5F5;
      font-family: 'Ubuntu', sans-serif;
      width: 70%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      padding: 25px;
      border-radius: 7px;
      display: none;
  }
  
  /* Signup */
  #signupDiv
  {
      background: Transparent;
      align-items: center;
      font-size: 30px;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      width: 70%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      padding: 25px;
      border-radius: 7px;
      display: none;
  }

  /* Forgot Password */
  #ForgotDiv
  {
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 7px;
    display: none;
      display: none;
  }
  
  /* Trips */
  #loggedInDiv
  {
      font-size: 20px;
      width: 80%;
      margin: auto;
      padding: 10px;
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 0.64);
  }

    /* Trips Username displayed after login up top*/
    #userName{
        display: inline-block;
        width: 80%;
        margin: auto;
        /*text-align: center;*/
        font-family: 'Ubuntu', sans-serif;
        color: #000000;
        /*float: inline-start;*/
    }
    
     /* Trips button on top of panel page*/
    #logoutButton{
        display: inline-block;
        width: 40%;
        min-width: 160px;
        /*margin-left: 80%;*/
        /*margin-right: 5%;*/
        margin-left: 25%;
        /*float: inline-end;*/
    }
  
     /* Trips button on top of panel page*/
    #makeTripButton{
        display: inline-block;
        width: 40%;
        min-width: 160px;
        margin-left: 20%;
    }
  
  body
  {
      border: 0;
      margin: 0;
  }
  
  #wrapper
  {
      height: 70%;
  }
  

  #inner-title
  {
      color: white;
  }
  
  /* Login */
  #switchToSignup
  {
    margin-top: .5%;
    font-size: 20px;
  }
  
  /* Login */
  #loginButton
  {
      font-size: 20px;
  }

  /* Not used */
  #forgotRecover
  {
    margin-top: .5%;
    font-size: 15px;
  }

  /* Forgot PW */
  #forgotToLogin
  {
    font-size: 20px;
    margin-top: .5%;
  }

  ::placeholder
  {
      color: black;
  }

  /* Forgot PW */
  #forgotUsername
  {
      font-size: 20px;
  }

  /* Forgot PW */
  #forgotPW
  {
      font-size: 20px;
  }

  /* Forgot PW */
  #forgotPWConfirm
  {
      font-size: 20px;
  }
  
  /* Signup */
  #switchToLogin
  {
      font-size: 20px;
      margin-top: 1%;
      align-items: center;
  }

  /* Not used */
  #switchToForgot
  {
    font-size: 20px;
    margin-top: .5%;
  }
  
  /* Login */
  #loginName
  {
      font-size: 30px;
      color: black;
  }

  /* Login */
  #loginPassword
  {
      font-size: 30px;
      color: black;
  }
  
  /* Not used */
  #loginNameUpdate
  {
      font-size: 30px;
      color: black;
  }
  
  /* Not used */
  #loginPasswordUpdate
  {
      font-size: 30px;
      color: black;
  }

  /* Not used */
  #updateProfileButton
  {
      margin-bottom: 10px;
  }
  
  /* Signup */
  #signupUsername
  {
      font-size: 25px;
  }
  #signupFirstName
  {
      font-size: 25px;
  }
  #signupLastName
  {
      font-size: 25px;
  }
  #signupEmail
  {
      font-size: 25px;
  }
  #signupPassword
  {
      font-size: 25px;
  }
  #signupPasswordConfirm
  {
      font-size: 25px;
  }
  #signupAdminUsername
  {
      font-size: 25px;
  }


  /* Make Trip */
  #tripStartLoc
  {
      font-size: 25px;
  }
  #tripDestination
  {
      font-size: 25px;
  }
  #tripStartTime
  {
      font-size: 25px;
  }
  #tripPurpose
  {
      font-size: 25px;
  }
  #tripWeather
  {
      font-size: 25px;
  }
  

  /* Signup */
  #signupButton
  {
      margin-top: 2%;
      align-self: center;
      font-size: 20px;
  }

    /* Button Page */
  #sGoToLogin
  {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1%;
    align-self: center;
    font-size: 30px;
  }

  /* Button Page */
  #sGoToSignup
  {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5%;
    align-self: center;
    font-size: 30px;
  }

  /* Button Page */
  #sGoToForgotPW
  {
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5%;
    align-self: center;
    font-size: 30px;
  }
  
  input[type="text"],input[type="password"]{
      border-radius: 15px;
      text-align: center;
      width: 80%;
      margin-left: 0%;
      margin-bottom: 2%;
      background-color: rgba(255,255,255,0.64);
      font-family: 'Ubuntu', sans-serif;
  }
  
  span.inner-title{
      display: inline-block;
      font-size: 1em;
      width: 90%;
      text-align: right;
      margin-left: 5%;
      margin-bottom: 2%;
      font-family: 'Ubuntu', sans-serif;
      color: #FFFFFF;
  }
  
    /* Login */
  #loginResult{
      display: inline-block;
      font-size: 0.8em;
      width: 90%;
      text-align: center;
      margin-bottom: 2%;
      font-family: 'Ubuntu', sans-serif;
      color: #95060a;
  }

    /* Forgot PW */
  #ForgotResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
  }

   /* Signup */
  #signupResult{
      display: inline-block;
      font-size: 0.8em;
      width: 90%;
      text-align: center;
      margin-bottom: 2%;
      font-family: 'Ubuntu', sans-serif;
      color: #95060a;
  }

  #DEBUG
  {
      color: white;
  }
